* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: #dddddd;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 350px;
  overflow-y: scroll;
  margin-right: 2rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 320px;
  padding: 1rem;
  background: #f0f0f0;
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  width: 90%;
  bottom: 0;
  border-bottom: 1px solid #ddd;
}

.content img {
  width: 30%;
}

.info {
  width: 170px;
}

.info h1 {
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_preco {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.info_preco p {
  font-size: 0.875rem;
  font-weight: 600;
}

.info_preco span {
  font-size: 0.875rem;
  color: #23c330;
  font-weight: bold;
}

.total,
.finish {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  width: 330px;
  margin-right: 2rem;
  padding: 1rem;
  background: #e6e6e6;
}

.total {
  background: #e6e6e6;
}

.total span {
  font-weight: bold;
}

.finish {
  background: #00bc0e;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: hidden;
    margin-right: 0;
  }
  .content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .total,
  .finish {
    width: 100%;
    margin: auto;
  }
}
