* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 0.875rem;
}

*::-webkit-scrollbar-track {
  background: #dddddd;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  height: 430px;
  width: 410px;
  overflow-y: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  gap: 0.6rem;
  padding: 1rem;
}

.content img {
  width: 30%;
}

.info h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

.info_preco {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;
}

.info_preco span {
  color: #23c330;
  font-weight: bold;
}
