* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: #dddddd;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  height: 350px;
  overflow-y: auto;
  margin-right: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 320px;
  padding: 1rem;
  background: #f0f0f0;
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  width: 90%;
  bottom: 0;
  border-bottom: 1px solid #ddd;
}

.content img {
  width: 30%;
}

.info {
  width: 150px;
}

.info h1 {
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.info_preco {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.info_preco p {
  font-size: 0.875rem;
  font-weight: 600;
}

.info_preco span {
  font-size: 0.875rem;
  color: #23c330;
  font-weight: bold;
}
