*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

    --dark-color: #000000;
    --light-color: #FFFFFF;
    --green-color: #00BB16;
    --gray-color: #565656;
    --light-gray-color: #EBEBEB;
}

a, 
a:visited, 
a:active{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container{
    width: 67.7%;

    position: relative;
}

