.container{
  height: 5rem;
  border-bottom: 1px solid var(--grey--150);
}

.content{
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav{
    margin-left: 5rem;
    height: 5rem;

    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-150);

      &:hover{
        font-weight: bold;
        color: var(--gray-200);
      }
    }
  }

  .icons{
   display: flex;
   gap: 3rem;

   cursor: pointer;

    img{
      height: 40px;
      width: 40px;
    }

    .dropdown {
      float: left;
      overflow: hidden;
      text-decoration: none;
    }

    img, .dropdown{
      &:hover{
        background: var(--grey--150);
       }
    }
    
    .dropdown .dropBtn {
      border: none;
      outline: none;
      color: white;
      background-color: inherit;
      font-family: inherit;
    }
        
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      z-index: 1;
      
      // overflow-y: scroll;
      top: 3.7rem;
      right: 1rem;

      max-width: 400px;
    }
    
    .dropdown-content .items {
      float: none;
      color: black;
      padding: 1rem 1rem;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .cart-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 0.1rem; 
     width: 98%;
     margin: 0 auto;

     max-height: 20rem;
     overflow-y: scroll;
    }

    .items-cart{
      display: flex;
      gap: 0.3rem; 
      background: var(--grey--50);
      
      .image-cart{
        display: flex;
        margin: 1rem 1rem;
      }

      .text{
        display: block;
        margin: 1rem 1rem;
      }

      .items-values{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0.5rem auto;

        .quantity{
          color: var(--grey--600);
          font-weight: 600;
        }

        .price{
          color: var(--green--500);
          font-weight: 700;
        }
      }
    }
    
    .dropdown-content .items:hover {
      background-color: #ddd;
      
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .total-price{
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2rem 0;
      color: var(--grey--600);
      strong{
        color: var(--grey--600);;
      }
    }

    .btn-finish{
      font-weight: bold;
      text-align: center;
      width: 100%;
      text-decoration: none;
      border: none;
      height: 5rem;
      background: var(--green--500);
      color: var(--white--999);
    }

  }
}