* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #1f1f1f;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@mixin noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#geral {
    & header {
        width: 1380px;
        margin: auto;
        height: 75px;
        box-shadow: 0px 10px 10px -10px #dfdfdf;
        @include noselect;

        & #header-logo {
            display: inline-block;
            margin-top: 15px;
            margin-left: 34px;
            width: 20%;
            cursor: pointer;
            & img {
                width: 94%;
            }
            
        }
        
        & nav{
            position: relative;
            top: -19px;
            left: 21px;
            display: inline-block;
            margin-bottom: 40px;
            & ul {
                font-size: 0.895em;
                list-style: none;
                & li{
                    display: inline-block;
                    margin-right: 1.77em;
                }
            }
        }

        & #header-btns {
            position: relative;
            left: 135px;
            bottom: 7px;
            display: inline-block;

            & .btn:hover {
                cursor: pointer;
                transform: scale(1.2);
            }

            & img.icon-search {
                width: 2em;
            }
            
            & img.icon-profile {
                width: 2.1em;
                margin-left: 50px;
            }
            
            & img.icon-cart {
                margin-bottom: 3px;
                width: 1.69em;
                margin-left: 47px;
            }
        }

        & .cart-content {
            position: absolute;
            top: 53px;
            left: -100px;
            height: 459px;
            width: 325px;
            background-color: #eeeeee;
            display: none;

            & .cart-products {
                margin-left: 4px;
                padding-top: 9px;;
                height: 73.5%;
                background-color: #f2f2f2;
                overflow: auto;
                
                & .product{
                    padding: 14px 0px 14px 10px;
                    & .product-img{
                        display: inline-block;
                        width: 82px;
                    }
                    & .product-info{
                        display: inline-block;
                        width: 65%;
                        margin-left: 10px;
                        & .product-name{
                            position: relative;
                            top: -29px;
                            height: 30px;
                            font-size: 13px;
                            overflow: hidden;
                        }
                        & .product-status{
                            position: relative;
                            top: -15px;
                            font-size: 14px;
                            & .product-qtd{
                                display: inline-block;
                            }
                            & .product-price{
                                display: inline-block;
                                margin-left: 40px;
                                font-weight: bold;
                                color: rgba(24, 186, 46, 1);;
                            }
                        }
                    }
                }

                & div.hr-line {
                    height: 1px;
                    margin: 0 auto;
                    width: 95%;
                    background-color: #e0e0e0;
                }
            }

            & .cart-sum {
                height: 14.5%;
                padding-top: 25px;
                text-align: center;
                & .value {
                    font-weight: bold;
                    color: #4f4f4f;
                }
            }

            & .cart-buy-btn {
                height: 12%;
                padding-top: 20px;
                text-align: center;
                background-color: rgba(24, 186, 46, 1);
                font-weight: bold;
                color: white;
                cursor: pointer;
            }

        }

        & .cart-content:before {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 25px;
            width: 0;
            border-bottom: 15px solid #f2f2f2;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
    }
}